################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Empty_Project/.vs/Empty_Project/v15/Server/sqlite3/db.lock
/.vs/ASPNetCore/v15/Server/sqlite3/db.lock
