<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-8 bg-gradient-primary border border-dark">
                <h1>
                    Heading
                </h1>
                <p>In nomine Patris et Filii et Spiritus Sancti</p>
                <p>
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                </p>
                <p>
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                </p>
                <p>
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                </p>
                <div class="row border-top border-bottom border-dark">
                    <div class="col-1">
                    </div>
                    <div class="col-10 border-left border-right border-dark text-center py-5">
                            PROMO BLOK
                    </div>
                    <div class="col-1">
                    </div>
                </div>
                <p>
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                </p>
                <p>
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                </p>
                <p>
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                    In nomine Patris et Filii et Spiritus Sancti.
                </p>
            </div>
            <div class="col-4 bg-gradient-primary">
                <div class="border border-dark p-3">
                <h4 class="text-center">Оглавление</h4>
                <ul class="list-unstyled">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>
                        Nulla volutpat aliquam velit
                        <ul>
                            <li>Phasellus iaculis neque</li>
                            <li>Purus sodales ultricies</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat at</li>
                        </ul>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
                </ul>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>